@import './../../assets/variable';


.product-wrapper{
  padding: 16px ;
  margin: 16px;
  overflow: auto;
  height: 85vh;

  .img-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 16px;
    justify-content: center;

    img {
        margin-right: 16px;
    }
  }

  .product-details{
    display: grid;
    grid-template-columns: 2fr 1fr;

    .name-price-details{
        margin-right: 16px;

        .name{
            font-size: 20px;
            margin-bottom: 8px;
        }
        .price{
            font-size: 26px;
            font-weight: 600;
            color: $colorGreen
        }
    }

    .minor-details{
        margin-top:16px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        div{
            margin: 4px 0px;
        }
        label{
            font-weight: 600;
        }
    }

    .product-desc{
        margin-top: 16px;
        font-style: italic;
    }
  }



  .review-wrapper{
    display: flex;
    margin-bottom: 8px;
    .fa{
        margin: 8px 16px;
        font-size: 24px;
    }

    .review-name{
        font-size: 12px;
        margin-right: 8px;
    }
    .review-msg{
        border-radius: 10px;
        // border: 1px solid #f1f1f1;
        padding: 12px 0px;
        margin: 4px 0px;
    }
  }
}