
<div class="box-wrapper">
    <div class="img-wrapper">
        <img src="{{itemObj.url}}" alt="" >
    </div>
  <div class="ids">
    <label>Album ID: {{itemObj.albumId}}</label>
    <label>Image ID: {{itemObj.id}}</label>
  </div>
  <div class="title">{{itemObj.title}}</div>
  <div class="button-wrapper" *ngIf="showButtons">
    <button *ngIf="!itemObj.addFav" class="button add-btn" (click)="addFav(itemObj)">Add to Favorite</button>
    <button *ngIf="itemObj.addFav" class=" button remove-btn" (click)="removeFav(itemObj)">Remove from Favorite</button>
  </div>
</div>
