
@import './assets/variable';
/* You can add global styles to this file, and also import other style files */
html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    overflow: hidden;
    position: relative;
}


body {
    width: 100%;
    margin: 0;
    height: 100%;
    background-color: #f8f8f8;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $colorText;
    font-size: 16px;
    font-weight: 400;

}

.logo{
    height: 30px; 
    padding: 0px 8px;
    cursor: pointer;
}

.button{
    width: 100%;
    height: 30px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
}


.list-header{
    padding: 16px 0px;
    // text-align: center;
    font-size: 24px;
    font-weight: 600;
    background: #873636;
    margin-bottom: 12px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}


.item-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    text-align: center;
    padding: 0px 16px;
    overflow: auto;
    height: 85vh;
}

.loader-wrapper{

    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.back-btn{
    width: 50%;
    margin-left: 16px;
}



.fav-items{
    color: white;
    font-size: 16px;
    padding: 0px 8px;
    line-height: 30px;
    cursor: pointer;
}

.card {
    // width: 100%;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    transition: box-shadow 0.25s linear;
    box-sizing: border-box;
    box-shadow: 0;
    display: flex;
    flex-direction: column;
    padding: 8px;
}